* {
  font-family: Montserrat;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
}

/* hero header */
.home-header {
 background-image: url(../assets/kids-photo.jpeg);
  background-position: center;
  background-size: cover;
  height: 150px;
  color: white;
  height: 60%;
}

.opacity-layer {
  padding: 20px;
  background-color: rgba(33, 33, 33, 0.75);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto 10% auto;
}

.brand-logo {
  font-size: 1.5em;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-option {
  text-transform: uppercase;
  font-size: 85%;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.nav-option:hover {
  color: #80BCC8;
}

h1, h2 {
  font-family: 'Libre Baskerville';
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 225%;
  margin-bottom: 0;
}

.call-to-action-btn {
  text-transform: uppercase;
  outline: none;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 80px;
  background-color: #80BCC8;
  color: #fff;
  transition: all 0.4s ease;
}

.call-to-action-btn:hover {
  background-color: #409BAD;
}


/* what we do */
.home-section {
  padding: 5% 18%;
  margin: 0 auto;
}

.mission-section {
  background-color: #F1F2F2;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: auto;
  grid-template-areas: "title . " "text image";
}

.what-we-do-title {
  grid-area: title;
}

.what-we-do-text {
  grid-area: text;
  margin: 10px 15px 10px 0;
}

#what-we-do-img {
  grid-area: image;
  height: 100%;
  width: auto;
}

/* how you can help */
.help-option {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.help-title {
  width: 30%;
}

.help-donate {
  background-color: #F1F2F2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#donate-btn {
  width: 17.5%;
}

#donate-btn,
#newsletter-email-btn {
  background-color: #409BAD;
  margin-bottom: 20px;
  font-size: 85%;
  height: 40px;
}

#donate-btn:hover,
#newsletter-email-btn:hover {
  background-color: #307482;
}

/* partners */
.partner-section {
  background-image: url(../assets/kids-photo.jpeg);
  background-position: center;
  background-size: cover;
}

.opacity-layer-partner {
  padding: 5% 18%;
  background-color: rgba(33, 33, 33, 0.75);
}

.partners-title {
  color: #fff;
}
.partner-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.partner-card {
  width: 27.5%;
  background-color: #F1F2F2;
  padding: 5px 15px;
}

/* newsletter */
.newsletter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.sign-up-text {

}

#newsletter-sign-up {
  height: 35px;
  outline: none;
  font-size: 85%;
  padding-left: 10px;
  width: 300px;
  color: #3C3C3C;
}

.dinner-section {
  background-color: #F1F2F2;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: auto;
  grid-template-areas: "title . " "image text";
}

.dinner-title {
  grid-area: title;
}

.dinner-text {
  grid-area: text;
  margin: 15px;
}

#dinner-img {
  grid-area: image;
  height: 100%;
  width: auto;
}

footer {
  background-color: #80BCC8;
}
